In [1]:
import pandas as pd

# Preparing the data for analysis

In [63]:
df_gene_effect = pd.read_csv("20Q4v2_Achilles_gene_effect.csv")

df_gene_effect.head()

,DepMap_ID,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000004,0.181332,0.089101,-0.193867,-0.024587,0.038458,-0.181824,0.351672,-0.440073,0.292582,...,-0.124218,-0.469306,NaN,NaN,0.257361,0.244834,-0.408512,0.284734,0.226412,-0.149566
1,ACH-000005,-0.076383,0.245190,0.191238,0.153008,-0.197035,-0.323295,0.252522,-0.571498,-0.068945,...,-0.212442,-0.426151,-0.068295,0.031635,0.205469,-0.068536,-0.092858,0.074640,0.028779,-0.264840
2,ACH-000007,0.102195,0.092449,-0.045926,0.171892,0.140561,0.170971,0.086060,-0.432320,0.010664,...,-0.083183,-0.269196,0.101146,0.277820,0.208814,0.001393,-0.327514,0.048714,-0.372854,-0.433157
3,ACH-000009,0.142342,-0.033126,-0.051224,0.060560,0.116002,-0.010044,0.104725,-0.610481,0.181508,...,-0.277264,-0.307018,0.044741,0.201551,0.083866,0.052208,-0.574719,0.218682,-0.074750,-0.551760
4,ACH-000011,0.280082,0.088898,0.032321,0.446598,-0.037188,-0.228207,0.110942,-0.406541,0.153979,...,-0.385241,-0.476314,-0.000984,0.013225,0.294002,0.137939,-0.245951,0.111173,-0.227417,-0.349564

In [64]:
df_correlations = pd.read_csv("correlations_DICER1_by_chr.csv", delimiter=";")

df_correlations.head()

,gene,gene_cor,DICER1_p,gene_selected,genome_alignment,avg_pos,chromosome_name,rank,is_on_pathway
0,DICER1,1,Inf,DICER1,chr14,"95119894,75",14,1,1
1,XPO5,"0,503616844","52,45448018",DICER1,chr6,"43568439,25",6,2,1
2,DROSHA,"0,33792351","22,30645548",DICER1,chr5,"31526452,5",5,3,1
3,AGO2,"0,329596473","21,20102211",DICER1,chr8,"140559591,8",8,4,1
4,ANKRD52,"0,298301131","17,34229262",DICER1,chr12,"56255045,25",12,5,1

In [65]:
# TODO: Make gene selection easier
selected_columns = pd.concat([df_correlations["gene"][:5], df_correlations["gene"][-5:]]).to_list()
selected_columns = tuple(selected_columns)
selected_columns, len(selected_columns)

(('DICER1',
  'XPO5',
  'DROSHA',
  'AGO2',
  'ANKRD52',
  'ZSCAN22',
  'PCDHB16',
  'ORMDL2',
  'HYOU1',
  'BTG1'),
 10)

In [66]:
columns_of_interest = [column for column in df_gene_effect.columns if column.startswith(selected_columns)]
columns_of_interest, len(columns_of_interest)

(['AGO2 (27161)',
  'ANKRD52 (283373)',
  'BTG1 (694)',
  'DICER1 (23405)',
  'DROSHA (29102)',
  'HYOU1 (10525)',
  'ORMDL2 (29095)',
  'PCDHB16 (57717)',
  'XPO5 (57510)',
  'ZSCAN22 (342945)'],
 10)

In [67]:
assert(len(selected_columns) == len(columns_of_interest)) # Rough automatic check for whether we found all corresponding columns in gene_effect dataset.

In [68]:
df_gene_effect[columns_of_interest]

,AGO2 (27161),ANKRD52 (283373),BTG1 (694),DICER1 (23405),DROSHA (29102),HYOU1 (10525),ORMDL2 (29095),PCDHB16 (57717),XPO5 (57510),ZSCAN22 (342945)
0,-0.485791,0.061758,0.009099,-0.800483,-0.471354,-1.248355,0.152011,-0.005288,-0.976411,-0.004016
1,-0.211648,0.144988,-0.279494,-1.342802,-0.779502,-1.166890,-0.055905,-0.257466,-0.859519,-0.028137
2,-0.047294,-0.035615,0.044191,-0.993394,-0.261872,-1.179217,0.074292,-0.400558,-0.910107,0.063903
3,0.147972,-0.055845,0.110307,-0.409258,-0.302471,-1.397957,0.016975,-0.112180,-0.834269,-0.036320
4,-0.244794,-0.083400,-0.122937,-0.792070,-0.407159,-1.400010,0.175852,0.109310,-0.823367,0.113082
...,...,...,...,...,...,...,...,...,...,...
803,-0.500938,-0.567413,-0.103990,-0.959784,-0.750916,-1.452658,0.046277,-0.066448,-1.148982,0.075566
804,-0.507409,-0.505528,-0.172067,-1.603509,-1.300670,-1.373992,0.075520,-0.241542,-1.631937,0.096254
805,-0.303557,-0.226048,-0.145903,-0.777286,-0.835479,-1.444140,-0.068681,-0.098058,-0.980329,-0.149162
806,-0.208096,-0.440253,-0.267566,-1.030868,-0.883779,-1.470970,-0.007353,-0.063559,-0.686586,0.044028
807,-0.235582,-0.419662,0.120573,-1.120057,-0.800313,-1.544684,0.108498,-0.136718,-1.092880,0.100196

In [70]:
X = df_gene_effect[columns_of_interest].to_numpy()
X.shape

(808, 10)

# Analysis

In [72]:
import sys
import os

# Get the current working directory (where the notebook is running)
notebook_dir = os.getcwd()

# Go up one level to the parent directory
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))

# Add parent directory to sys.path
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

# Now you can import your module
from utils import factor_model_solution, factor_goodness_of_fit_test

In [74]:
_, lambda_hat = factor_model_solution(X, k = 1)
lambda_hat

array([[ 0.48939537],
       [ 0.48488142],
       [-0.09223838],
       [ 0.72307398],
       [ 0.41419227],
       [ 0.12533711],
       [-0.13337069],
       [ 0.09556584],
       [ 0.68065617],
       [ 0.07652927]])

In [ ]:
pd.concat([df_correlations[["gene", "is_on_pathway"]][:5], df_correlations[["gene", "is_on_pathway"]][-5:]])

        gene  is_on_pathway
0     DICER1              1
1       XPO5              1
2     DROSHA              1
3       AGO2              1
4    ANKRD52              1
495  ZSCAN22              0
496  PCDHB16              0
497   ORMDL2              0
498    HYOU1              0
499     BTG1              0